<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" href="./main.css" />
    <link rel="icon" type="image/png" href="https://i.ibb.co/HPybk6f/favicon-square.png">
    <title>Code Editor</title>
</head>

<body>
    <div id="font_div"></div>
    <div id="main" class="main theme_color">
        <pre><span id="typer" class="typer"></span><span id="cursor">|</span><div id="bottom_padding"
        class="bottom_padding"></div></pre>
    </div>
    <div id="footer" class="footer theme_border_color">
        <div>
            <a href="/tesla" id="run-site" target="_blank">Run</a>
        </div>
    </div>
</body>

<script src="./source.js"></script>
<script src="./main.js"></script>

</html>

<!-- If you like this site and want to get in touch, you can reach me at incrementalcoder at gmail dot com -->